streamlit==1.28.2
streamlit-webrtc==0.54.0
openai==1.43.0
cryptography==44.0.0
gTTS==2.5.3
SpeechRecognition==3.10.4
numpy==1.26.4
pandas==2.2.3
textblob==0.18.0.post0
scipy==1.14.1
python-dotenv==1.0.1
