streamlit==1.37.1
openai>=1.12.0
pandas==2.2.2
numpy==1.26.4
cryptography==41.0.7
streamlit-webrtc==0.47.1
aiortc==1.7.1
Pillow==10.2.0
python-dotenv==1.0.1
spacy==3.7.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
